<!DOCTYPE html>

<html>


<head>
    

</head>

<body>
    <h1 style="background-color: red;text-align: center;"><b>hello it is seungs todo list</h1>
    <h2 style="background-color: aqua;">   Task</h2>

   
<ol>
    {% for t in seung_task %}
   <li> {{ t }}<br> </li>
    {% endfor %}
</ol>
</body>


</html>
<!-- 
1. Introduction to HTML: Learn what HTML is and its role in web development.
2. HTML Structure: Understand the basic structure of an HTML document: <!DOCTYPE html>,
<html>, <head>, and <body>.
3. Create Your First HTML Page: Write a simple HTML document using a text editor.
4. HTML Tags: Learn what tags are and how to use opening and closing tags.
5. Headings: Use heading tags (<h1> to <h6>) to structure content.
6. Paragraphs: Use <p> to create paragraphs.
7. Bold and Italics: Learn how to use <b>, <strong>, <i>, and <em>.
8. Links: Create hyperlinks using the <a> tag.
9. Images: Add images with the <img> tag and learn about src and alt attributes.
10. Lists: Create ordered (<ol>) and unordered lists (<ul>).
11. Tables: Build tables using <table>, <tr>, <th>, and <td>.
12. Forms: Create basic forms using <form>, <input>, and <button>. -->